<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="CalculatorService"
        address="net.tcp://127.0.0.1:2017"
        binding="netTcpBinding"
        contract="WcfCallbackService.ICalculator" />
    </client>
  </system.serviceModel>
</configuration>
